<a href="https://colab.research.google.com/github/priyankadalmia/medium/blob/main/Data_File_Formats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import os

In [22]:
#Gives Execution time
%%time 

train_df = pd.read_csv("train.csv")

CPU times: user 108 ms, sys: 24.3 ms, total: 132 ms
Wall time: 135 ms

In [23]:
train_df.dtypes

Year                     int64
Industry_aggregation    object
Industry_code           object
Industry_name           object
Units                   object
Variable_code           object
Variable_name           object
Variable_category       object
Value                   object
Industry_division       object
dtype: object

In [24]:
#Defining data types in required format
dtypes = {
    "Year": "int16",
    "Industry_aggregation": "str",
    "Industry_code": "str",
    "Industry_name": "str",
    "Units": "str",
    "Variable_code": "str",
    "Variable_name": "str",
    "Variable_category": "str",
    "Value": "str", 
    "Industry_division": "str"   
}

In [25]:
train_new_df = pd.read_csv("train.csv", dtype = dtypes)

In [26]:
train_new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37080 entries, 0 to 37079
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  37080 non-null  int16
 1   Industry_aggregation  37080 non-null  object
 2   Industry_code         37080 non-null  object
 3   Industry_name         37080 non-null  object
 4   Units                 37080 non-null  object
 5   Variable_code         37080 non-null  object
 6   Variable_name         37080 non-null  object
 7   Variable_category     37080 non-null  object
 8   Value                 37080 non-null  object
 9   Industry_division     37080 non-null  object
dtypes: int16(1), object(9)
memory usage: 2.6+ MB

In [27]:
train_new_df.to_pickle("train.pkl")

In [28]:
train_new_df.to_parquet("train.parquet")

In [29]:
train_new_df.to_feather("train.feather")

In [30]:
filenames = ['train.csv',
             'train.pkl', 
             'train.feather', 
             'train.parquet']

all_filesizes = [os.path.getsize(f) for f in filenames]             
 
filescompare_df = pd.DataFrame( { "formats" : filenames,
                                  "filesize": all_filesizes})

In [31]:
filescompare_df

         formats  filesize
0      train.csv   5882399
1      train.pkl   1521343
2  train.feather   1533490
3  train.parquet    137669

In [32]:
%%time 

train_pkl_df = pd.read_pickle("train.pkl")

CPU times: user 20.7 ms, sys: 1.76 ms, total: 22.5 ms
Wall time: 22.9 ms

In [33]:
%%time 

train_feather_df = pd.read_feather("train.feather")

CPU times: user 24.1 ms, sys: 12.8 ms, total: 37 ms
Wall time: 36.8 ms

In [34]:
%%time 

train_parquet_df = pd.read_parquet("train.parquet")

CPU times: user 37.3 ms, sys: 11.6 ms, total: 48.9 ms
Wall time: 46.1 ms

In [35]:
import time

t1 = time.perf_counter()
train_df = pd.read_csv("train.csv")
time_csv = time.perf_counter() - t1

t1 = time.perf_counter()
train_pkl_df = pd.read_pickle("train.pkl")
time_pkl = time.perf_counter() - t1

t1 = time.perf_counter()
train_feather_df = pd.read_feather("train.feather")
time_feather = time.perf_counter() - t1

t1 = time.perf_counter()
train_parquet_df = pd.read_parquet("train.parquet")
time_parquet = time.perf_counter() - t1

In [36]:
filescompare_df['read_time'] = [time_csv, time_pkl, time_feather, time_parquet]

In [37]:
filescompare_df

         formats  filesize  read_time
0      train.csv   5882399   0.111885
1      train.pkl   1521343   0.025992
2  train.feather   1533490   0.017190
3  train.parquet    137669   0.031539