<a href="https://colab.research.google.com/github/priyankadalmia/medium/blob/main/Data_File_Formats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import os

In [5]:
#Gives Execution time
%%time 

train_df = pd.read_csv("train.csv")

CPU times: user 82 ms, sys: 17.3 ms, total: 99.4 ms
Wall time: 115 ms

In [6]:
train_df.dtypes

Year                     int64
Industry_aggregation    object
Industry_code           object
Industry_name           object
Units                   object
Variable_code           object
Variable_name           object
Variable_category       object
Value                   object
Industry_division       object
dtype: object

In [7]:
#Defining data types in required format
dtypes = {
    "Year": "int16",
    "Industry_aggregation": "str",
    "Industry_code": "str",
    "Industry_name": "str",
    "Units": "str",
    "Variable_code": "str",
    "Variable_name": "str",
    "Variable_category": "str",
    "Value": "str", 
    "Industry_division": "str"   
}

In [8]:
train_new_df = pd.read_csv("train.csv", dtype = dtypes)

In [9]:
train_new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37080 entries, 0 to 37079
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  37080 non-null  int16
 1   Industry_aggregation  37080 non-null  object
 2   Industry_code         37080 non-null  object
 3   Industry_name         37080 non-null  object
 4   Units                 37080 non-null  object
 5   Variable_code         37080 non-null  object
 6   Variable_name         37080 non-null  object
 7   Variable_category     37080 non-null  object
 8   Value                 37080 non-null  object
 9   Industry_division     37080 non-null  object
dtypes: int16(1), object(9)
memory usage: 2.6+ MB

In [10]:
train_new_df.to_pickle("train.pkl")
!ls -al datasets/

ls: cannot access 'datasets/': No such file or directory

In [11]:
train_new_df.to_parquet("train.parquet")
!ls -al datasets/

ls: cannot access 'datasets/': No such file or directory

In [12]:
train_new_df.to_feather("train.feather")
!ls -al datasets/

ls: cannot access 'datasets/': No such file or directory

In [13]:
filenames = ['train.csv',
             'train.pkl', 
             'train.feather', 
             'train.parquet']

all_filesizes = [os.path.getsize(f) for f in filenames]             
 
filescompare_df = pd.DataFrame( { "formats" : filenames,
                                  "filesize": all_filesizes})

In [14]:
filescompare_df

         formats  filesize
0      train.csv   5882399
1      train.pkl   1521343
2  train.feather   1533490
3  train.parquet    137669

In [15]:
%%time 

train_pkl_df = pd.read_pickle("train.pkl")

CPU times: user 16.1 ms, sys: 7.11 ms, total: 23.2 ms
Wall time: 37.7 ms

In [16]:
%%time 

train_feather_df = pd.read_feather("train.feather")

CPU times: user 16.2 ms, sys: 8.06 ms, total: 24.3 ms
Wall time: 22.8 ms

In [17]:
%%time 

train_parquet_df = pd.read_parquet("train.parquet")

CPU times: user 49.1 ms, sys: 6.15 ms, total: 55.2 ms
Wall time: 77.1 ms

In [18]:
import time

t1 = time.perf_counter()
train_df = pd.read_csv("train.csv")
time_csv = time.perf_counter() - t1

t1 = time.perf_counter()
train_pkl_df = pd.read_pickle("train.pkl")
time_pkl = time.perf_counter() - t1

t1 = time.perf_counter()
train_feather_df = pd.read_feather("train.feather")
time_feather = time.perf_counter() - t1

t1 = time.perf_counter()
train_parquet_df = pd.read_parquet("train.parquet")
time_parquet = time.perf_counter() - t1

In [19]:
filescompare_df['read_time'] = [time_csv, time_pkl, time_feather, time_parquet]

In [20]:
filescompare_df

         formats  filesize  read_time
0      train.csv   5882399   0.082750
1      train.pkl   1521343   0.017491
2  train.feather   1533490   0.015994
3  train.parquet    137669   0.028692